body {
    background-color: #4B0082;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

form input[type="file"] {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.upload-btn {
    background-color: #9932CC;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.upload-btn:hover {
    background-color: #800080;
}
